    .center1 {
        width:400px;
    }

    .center2 {
        width:200px;
    }

    .center1, .center2 {
        margin: auto;
    }

    h1 {
        text-align: "center";
        width:300px;
        margin: auto;
    }

    #print {
        margin-left: 550px;
        width: 350px;
        height: 40px;
        color:brown;
        font-size: 30px;
        text-align: center;
    }
    
    #b1, #b2 , #b3 , #b4, #b5, #b6, #b7, #b8, #b9 {
        width: 95px;
        height: 40px;
        margin: auto;
        border: 1px solid gray;
        border-radius: 6px;
        font-size: 30px;
        text-align: center;
    }

    #zero,#X {
        width: 45px;
        height: 40px;
        margin: auto;
        border: 1px solid gray;
        font-size: 30px;
        text-align: center;
    }

    #reset {
        width: 95px;
        height: 40px;
        border: 1px solid dodgerblue;
        border-radius: 4px;
        font-family: Verdana;
        background-color: dodgerblue;
        color: white;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
    }

    .reset-button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -50px;
    }